---
import IconMessage from "~/assets/images/icons/message.svg";
---

<a href="#ask-a-question" class="button button-yellow">
	<IconMessage class="size-4 inline-block -mt-0.5 mr-1" />
	<span>Ask a question</span>
</a>
