---
import IconFilter from "~/assets/images/icons/filter.svg";
---

<div class="lg:hidden bg-gray-800 text-white flex items-center justify-start p-2 lg:mb-8">
	<button id="button-modal-filter-open" type="button" class="-m-2.5 p-2.5 lg:hidden">
		<span class="sr-only">Open filter</span>
		<div class="flex space-x-2 items-center">
			<IconFilter class="size-5" />
			<span>Filter</span>
		</div>
	</button>
</div>
