---
import { phone } from "~/data/config";
import IconPhone from "~/assets/images/icons/phone.svg";
---

<a href={phone.href} class="button button-yellow">
	<IconPhone class="size-4 inline-block -mt-0.5 mr-1" />
	<span>Call us</span>
</a>
