---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import GridAlt from "~/components/GridAlt.astro";
import Heading from "~/components/Heading.astro";
---

<Layout pageTitle="Services">
	<Section>
		<Container>
			<Heading>
				<h2 slot="heading-title">The services we offer</h2>

				<p slot="heading-content">
					We offer a wide range of services to help you with your car. From car sales to car repairs, we have
					you covered.
				</p>
			</Heading>
			<GridAlt />
		</Container>
	</Section>
</Layout>
