---
import CardGridAlt from "./CardGridAlt.astro";
---

<div
	class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-gray-50 shadow sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0"
>
	<CardGridAlt
		title="Maintenance"
		description="Doloribus dolores nostrum quia qui natus officia quod et dolorem. Sit repellendus qui ut at blanditiis et quo et molestiae."
		color="brand"
		icon="checkmark"
		href="/services/maintenance"
	/>
	<CardGridAlt
		title="Repairs"
		description="Doloribus dolores nostrum quia qui natus officia quod et dolorem. Sit repellendus qui ut at blanditiis et quo et molestiae."
		color="brand"
		icon="checkmark"
		href="/services/repairs"
	/>
	<CardGridAlt
		title="Car sales"
		description="Doloribus dolores nostrum quia qui natus officia quod et dolorem. Sit repellendus qui ut at blanditiis et quo et molestiae."
		color="brand"
		icon="checkmark"
		href="/services/car-sales"
	/>
	<CardGridAlt
		title="Car wash"
		description="Doloribus dolores nostrum quia qui natus officia quod et dolorem. Sit repellendus qui ut at blanditiis et quo et molestiae."
		color="brand"
		icon="checkmark"
	/>
	<CardGridAlt
		title="Tire Services"
		description="Doloribus dolores nostrum quia qui natus officia quod et dolorem. Sit repellendus qui ut at blanditiis et quo et molestiae."
		color="brand"
		icon="checkmark"
	/>
	<CardGridAlt
		title="Oil Change"
		description="Doloribus dolores nostrum quia qui natus officia quod et dolorem. Sit repellendus qui ut at blanditiis et quo et molestiae."
		color="brand"
		icon="checkmark"
	/>
</div>
