---
import { getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import CardCar from "~/components/car/CardCar.astro";
import SidebarFiltersDesktop from "~/components/sidebars/SidebarFiltersDesktop.astro";
import SidebarFiltersMobile from "~/components/sidebars/SidebarFiltersMobile.astro";
import Pagination from "~/components/Pagination.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const cars = await getCollection("cars");
	return paginate(cars, {
		pageSize: 12,
		params: { page: undefined },
	});
};

interface Props {
	page: Page<any>;
}

const { page } = Astro.props;
---

<Layout>
	<Section class:list={"bg-gray-50"}>
		<Container class:list={"max-lg:px-0 max-lg:max-w-full"}>
			<div class="flex">
				<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
				<!-- Temporarily hidden -->
				<div class="relative z-50 lg:hidden hidden" role="dialog" aria-modal="true">
					<!--
		Off-canvas menu backdrop, show/hide based on off-canvas menu state.
  
		Entering: "transition-opacity ease-linear duration-300"
		  From: "opacity-0"
		  To: "opacity-100"
		Leaving: "transition-opacity ease-linear duration-300"
		  From: "opacity-100"
		  To: "opacity-0"
	  -->
					<div class="fixed inset-0 bg-gray-900/80" aria-hidden="true"></div>

					<div class="fixed inset-0 flex">
						<!--
		  Off-canvas menu, show/hide based on off-canvas menu state.
  
		  Entering: "transition ease-in-out duration-300 transform"
			From: "-translate-x-full"
			To: "translate-x-0"
		  Leaving: "transition ease-in-out duration-300 transform"
			From: "translate-x-0"
			To: "-translate-x-full"
		-->
						<div class="relative mr-16 flex w-full max-w-xs flex-1">
							<!--
			Close button, show/hide based on off-canvas menu state.
  
			Entering: "ease-in-out duration-300"
			  From: "opacity-0"
			  To: "opacity-100"
			Leaving: "ease-in-out duration-300"
			  From: "opacity-100"
			  To: "opacity-0"
		  -->
							<!-- <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
								<button type="button" class="-m-2.5 p-2.5">
									<span class="sr-only">Close sidebar</span>
									<svg
										class="size-6 text-white"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										data-slot="icon"
									>
										<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"
										></path>
									</svg>
								</button>
							</div> -->

							<!-- Temporarily hidden -->
							<!-- <SidebarFiltersMobile /> -->
						</div>
					</div>
				</div>

				<SidebarFiltersDesktop />

				<!-- Temporarily hidden -->
				<!-- <div
					class="hidden sticky top-0 z-40 flex items-center gap-x-6 bg-white px-4 py-4 shadow-sm sm:px-6 lg:hidden"
				>
					<button type="button" class="-m-2.5 p-2.5 lg:hidden">
						<span class="sr-only">Open sidebar</span>
						<svg
							class="size-6"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							aria-hidden="true"
							data-slot="icon"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
						</svg>
					</button>
					<div class="flex-1 text-sm/6 font-semibold">Dashboard</div>
					<a href="#">
						<span class="sr-only">Your profile</span>
						<img
							class="size-8 rounded-full bg-gray-50"
							src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
							alt=""
						/>
					</a>
				</div> -->

				<main class="lg:pl-16 grow">
					<div class="lg:px-8">
						<ul class="grid grid-cols-1 lg:gap-16">
							{page.data.map((car) => <CardCar car={car} />)}
						</ul>

						<Pagination page={page} />
					</div>
				</main>
			</div>
		</Container>
	</Section>
</Layout>
